/* ============================ Navbar Section ======================== */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #181b19;
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.no-gutters{
    margin-left: 0;
    margin-right: 0;
}
img{
    height: 80px;
}

.main-img{
    height: 400px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.main_medium-img {
    height: 250px;
    border: 4px solid #fff;
    border-radius: 50%;  
}

#list-one, #list-two, #list-three, #list-four, #list-five{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
#list-one{
    color: #f9ca0b;
}

#list-two:hover, #list-three:hover, #list-four:hover, #list-five:hover{
    color: #f9ca0b;
}

.main-container{
    height: 100vh;
}

span{
    color: #f9ca0b;
    font-weight: bolder;
}
.Home_title{
    color: #f9ca0b;
    font-weight: bold;
}

.Home_education{
    color: #fff;
    margin-top: 12px;
}
.home__description{
    font-size: 18px;
    color: #cccc;
}
.Greting_title{
    color: #fff;
}
.small_heading{
    color: #fff;
}

.big_heading{
    color: #f9ca0b;
}
.title-sec{
    font-size: 25px;
}
.btn{
    font-weight: bold;
    background-color: #f9ca0b;
    color: #121010;
}

.home_social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.home_social a{
    text-decoration: none;
}

.home__social-link{
    display: flex;
    font-size: 1.8rem;
    padding: .3rem;
    transition: transform .4s;
    /* text-decoration: none; */
    color: #fff;
}
.home__social-link:hover{
    transform: translateY(-.30rem);
    color: #f9ca0b;
}

.img-text-container1{
    height: 100vh;
}

/*============================ About me section ===============================*/
.top-container{
    background-color:#323f4b;
    padding-top: 10px;
}

.about_para{
    font-size: 20px;
    color: #cccc;
}


/* ============================== SKILL SECTION ============================ */

.skill_content {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 20px;
    text-align: center;
    padding-left: 100px;
}

.skill_content_small {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 10px;
}

.skill-container{
    padding: 5px 30px 5px 30px;
    background-color: #7b7a7a;
    color: #fff;
    border-radius: 10px;
    
}
.skill-container-img{
    padding: 10px;
    width: 80px;
    height: 80px;
}
.git img {
    border-radius: 50%;
}
.top-section-main-para{
    font-size: 30px;
    color: #9aa5b1 ;
}

.skills__description{
    color: #fff;
}

.buttom-row{
    background-color:#1f2933;
}
/* h2{
   color: #edf107; 
   font-weight: bold;
} */
 .skill-name,h3{
    color: #fff;
    font-size: 18px;
}
.top-section-img{
    width: 100%;
}

/* ============================================= Project section ============================================*/

.big_container_Project_section{
    background-color: #0d2436 ;
    height: 100%;
    /* width: 100%; */
}

.card{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.card-img-top{
    width: 100%;
    height: 100%;
}
.projects__modal{
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0000, #0d2436);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); /* for safari */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: bottom .4s;
}

.projects__subtitle{
    display: block;
    margin-bottom: .25rem;
    color: #fff;
}

.projects__title{
    color: #fff;
    font-size: 25px;
    margin-bottom: .75rem;
}

.projects__button{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    color: #fff;
}

.projects__button i{
   font-size: 1.10rem;
   color: white;
} 

.card:hover .projects__modal{
    bottom: 0;
} 

/* ========================================== SERVICES SECTION =====================================================*/

.service-section-big-container{
    background-color: #52606d;
    height: 100%;
}


.services_card{
    text-align: center;
    background-color: #183b56;
    color: #fff;
    transition: border .2s;
    height: 40vh;
}

.services_card:hover{
    border: 2px solid #f9ca0b;
}

.services_icon{
    display: block;
    /* color: #f9ca0b; */
    font-size: 50px;
    margin-bottom: .75rem;
}

.services__title{
    margin-bottom: 1rem;
}

.services_card i{
    font-size: 40px;
    margin-bottom: 20px;
    color: #f9ca0b;
}
/* ================================================ ANIMATED NUMBERS =========================================================  */
.animated_container{
    background-color: #1f2933;
    height: 30vh;
}
.counter_number{
    color: #f9ca0b;
    font-weight: 600;
    
}

.counter_title{
    color: #fff;
    text-transform: capitalize;
}

.number_content .counter_number {
    font-size: 16px;
    color: #f9ca0b;
}

.number_content .counter_title {
    font-size: 14px;
    text-align: center;
}
/* +++++++++++++++++++++++++++++++++++ Testiomonials section +++++++++++++++++++++++++++++*/

.testimonial_container{
    height: 100%;
}

.bio-name{
    color: #fff;
}

.profession{
    color: #001c32;
    font-weight: 700;
}
.content{
    color: #fff;
}
.content i{
    color: #fff;
    font-size: 23px;
}
.socials i{
    margin-top: 1rem;
    color: #fff;
    margin-left: 25px;
    font-size: 25px;
    cursor: pointer;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fa-brands{
    transition: transform .4s;
}

.fa-brands:hover{
    transform: translateY(-.35rem);
    color: #f9ca0b;
}
.small_font{
    color: #121010;
}
.img-items img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px solid #0d2436;
}
.content {
    margin-top: 50px;
} 
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: #001c32;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
 /* ============================ FOOTER SEACTION ================================== */

.container-fluid{
    background-color: #0d2436;
    width: 100%; 
}   
.footer-img{
    height: 100px;
}
.footer-heading{
    color: #f9ca0b;
    font-size: 22px;
}
.icon p {
    font-size: 18px;
}
.footer-para, .fa-solid{
    color: #5a7184;
    font-size: 16px;
}
.footer-row{
    background-color: #001c32;
}
.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    align-items: center;
    margin-right: 10px;
    padding-top: 10px;
}

marquee {
    padding: 10px;
    color: #7c8d9b;
}




